{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="account">
    <div class="account_creation">
        <h1>Create account</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_rest(registrationForm) }}
        <button type="submit" class="btn button slide">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    <div class="account_list">
        <h2>List of accounts</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.email }}</td>
                    <td>{{ account.roles[0] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}