{% extends 'base.html.twig' %}

{% block title %}Supplier index{% endblock %}

{% block main %}
    <h1>Supplier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.note }}</td>
                <td>
                    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">Edit</a>
                    {{ include("supplier/_delete_form.html.twig") }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No suppliers found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
