{% extends 'base.html.twig' %}

{% block title %}All bookings{% endblock %}

{% block main %}
<h1>Booking index</h1>
{{ bookings|length }}

<section>
    <table>
        <tr>
            <td><strong>Booking name</strong></td>
            <td><strong>Traveling dates</strong></td>
            <td><strong>Total coast</strong></td>
            <td><strong>Client</strong></td>
            <td><strong>Supplier</strong></td>
            <td></td>
        </tr>
    </table>
    {% for booking in bookings %}
    <section>
        <table class="accordion">
            <tr>
                <td>
                    <strong>{{ booking.name }}</strong><br>
                    #{{ booking.reference }}<br>
                    {{ booking.leadCustomer.name }}
                </td>
                <td>
                    <span><strong>from
                        </strong></span>{{ booking.departure ? booking.departure|date('Y-m-d') : '' }}<br>
                    <span><strong>to </strong></span>{{ booking.returnDate ? booking.returnDate|date('Y-m-d') : '' }}
                </td>
                <td>
                    <strong>{{ booking.total }}$</strong>
                </td>
                <td>
                    {% if booking.clientPayments|length <= 1 %}
                    <strong>{{ booking.clientPayments|length }}</strong> payment<br>
                    {% else %}
                    <strong>{{ booking.clientPayments|length }}</strong> payments<br>
                    {% endif %}
                    <strong>
                        {% set total = booking.total %}
                        {% set amount = 0 %}
                        {% for client_payment in booking.clientPayments %}
                        {% set amount = amount + client_payment.amount %}
                        {% endfor %}
                        {{ total - amount }}$
                    </strong> due
                </td>
                <td>
                    {# A FINIR 

                    {% if booking.supplierPayments|length <= 1 %}
                        <strong>{{ booking.supplierPayments|length }}</strong> payment<br>
                    {% else %}
                        <strong>{{ booking.supplierPayments|length }}</strong> payments<br>
                    {% endif %}
                    <strong>
                        {% set total = 0 %}
                        {% set amount = 0 %}
                        {% set total_commission = 0 %}
                        {% for supplier_payment in booking.supplierPayments %}
                            {% set amount = amount + booking.supplier.dueAmount %}
                            {% set total_commission = total_commission + supplier_payment.dueCommission %}
                            {% set total = amount + total_commission %}
                        {% endfor %}
                        {{ total - amount - total_commission }}$
                    </strong> due 

                    #}
                </td>
                <td>
                    <a href="{# METTRE LIEN VERS EDIT BOOKING #}"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg></a>&nbsp;&nbsp;&nbsp;
                    <a href="{# METTRE LIEN VERS DELETE BOOKING #}"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg></a>
                </td>
            </tr>
        </table>
        <div class="panel">

            <div class="client-payments-section">
                <div>
                    <h2>CLIENT PAYMENTS</h2>
                    <div>
                        <div>
                            <div><strong>TOTAL</strong></div>
                            <div>{{ booking.total }} $</div>
                        </div>
                        <div>
                            <div><strong>DUE</strong></div>
                            <div>
                                {% set total = booking.total %}
                                {% set amount = 0 %}
                                {% for client_payment in booking.clientPayments %}
                                {% set amount = amount + client_payment.amount %}
                                {% endfor %}
                                {{ total - amount }}$
                            </div>
                        </div>
                    </div>
                </div>
                {% for client_payment in booking.clientPayments %}
                <table>
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="">
                                <img src="">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="">
                                <img src="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <div>
                    <p>No client payments found!</p>
                </div>
                {% endfor %}
            </div>
            <div class="supplier-payments-section">
                <div>
                    <h2>SUPPLIER PAYMENTS</h2>
                    <div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
                {% for supplier_payment in booking.supplierPayments %}
                <table>
                    <thead>
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="">
                                <img src="">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img src="">
                                <img src="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <div>
                    <p>No supplier payments found!</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
    <div>
        <p>no records found</p>
    </div>
    {% endfor %}
</section>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock main %}