{% extends 'base.html.twig' %}

{% block title %}Bookings index{% endblock %}

{% block header %}
    {% include "_navbar.html.twig" %}
{% endblock header %}

{% block main %}
    <h1>Bookings index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Booking name</th>
                <th>Travelers count</th>
                <th>Destination</th>
                <th>Confirmation date</th>
                <th>Departure</th>
                <th>Return</th>
                <th>Agent name</th>
                <th>Lead customer</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.reference }}</td>
                <td>{{ booking.name }}</td>
                <td>{{ booking.travelersCount }}</td>
                <td>{{ booking.destination }}</td>
                <td>{{ booking.confirmationDate|date('m-d-Y') }}</td>
                <td>{{ booking.departure|date('m-d-Y') }}</td>
                <td>{{ booking.returnDate|date('m-d-Y') }}</td>
                <td>
                    <a href="{{ path('booking_edit', {id: booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('general_new') }}">Create new</a>
{% endblock main %}
