{{ form_start(form) }}
<div class="form-section row g-3">
    <h3>BOOKING</h3>
    <div class="col-md-6">
        {{ form_label(form.reference) }}
        {{ form_widget(form.reference) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.name, 'Booking name') }}
        {{ form_widget(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.travelersCount, 'Travelers count') }}
        {{ form_widget(form.travelersCount) }}
    </div>
    <div class="col-md-6">
        {{ form_widget(form.leadCustomer) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.destination) }}
        {{ form_widget(form.destination) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.confirmationDate, 'Confirmation date') }}
        {{ form_widget(form.confirmationDate) }}
    </div>
</div>
<div class="form-section row g-3">
    <h3>TRAVELING DATES</h3>
    <div class="col-md-6">
        {{ form_label(form.departure, 'Departure date') }}
        {{ form_widget(form.departure) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.returnDate, 'Return date') }}
        {{ form_widget(form.returnDate) }}
    </div>
</div>
<div class="form-section row g-3">
    <h3>AGENCY</h3>
    <div class="col-md-6">
        {{ form_label(form.agent.name, 'Agency name') }}
        {{ form_widget(form.agent.name) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.agent.commission, 'Commission') }}
        {{ form_widget(form.agent.commission) }}
    </div>
    <div class="col-md-2">
        <label for=""></label>
        <select id="" class="form-select">
            <option selected>$</option>
            <option>%</option>
        </select>
    </div>
</div>
<div class="text-center">
    <button class="btn">{{ button_label|default('SAVE') }}</button>
</div>
{{ form_end(form) }} 