{% extends 'accordion/layout.html.twig' %}

{% block title %}New SupplierPayment{% endblock %}


{% block supplierPayments %}
    <div class="payments">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Payment Date</th>
                    <th>Amount in $</th>
                    <th>Commission Due</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier_payment in supplier_payments %}
                <tr>
                    <td>{{ supplier_payment.supplier.name }}</td>
                    <td>{{ supplier_payment.date ? supplier_payment.date|date('Y-m-d') : '' }}</td>
                    <td>{{ supplier_payment.paidAmount }}</td>
                    <td>{{ supplier_payment.dueCommission }}</td>

                    </td>
                    <td>
                        <a href="{{ path('supplier_payment_edit', {booking_id: supplier_payment.booking.id, supplierPayment_id: supplier_payment.id}) }}">Edit</a>
                            {{ include('accordion/supplier_payment/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ include('accordion/supplier_payment/_form.html.twig') }}
{% endblock supplierPayments %}