{% extends 'base.html.twig' %}

{% block title %}Dashboard Payment{% endblock %}

{% block main %}
<div class="dashboardPayment">
    <div class="bashboardTile">
        <h1>Dashboard</h1>
        <p>></p>
        <h2>Payments</h2>
    </div>
    <div class="incomingClientPayment">
        <h3>Incoming Clients Payment</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Trip Name</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for booking in bookings %}
                {% for client_payment in booking.clientPayments %}
                {% if client_payment.status == "due" %}
                {% set total = total + client_payment.amount %}
                <tr>
                    <td>{{ client_payment.client.name }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ client_payment.amount }}</td>
                    <td>{{ client_payment.date ? client_payment.date|date('Y-m-d') : '' }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="totalClientPayment">
            <h3>Total: {{ total }}$</h3>
        </div>
    </div>
    <div class="outcomingSupplierPayment">
        <h3>Outcoming Suppliers Payments</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Trip Name</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for booking in bookings %}
                {% for supplier_payment in booking.supplierPayments %}
                {% if supplier_payment.status == "due" %}
                {% set total = total + supplier_payment.paidAmount %}
                <tr>
                    <td>{{ supplier_payment.supplier.name }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ supplier_payment.paidAmount }}</td>
                    <td>{{ supplier_payment.date ? supplier_payment.date|date('Y-m-d') : '' }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="totalSupplierPayment">
            <h3>Total: {{ total }}$</h3>
        </div>
    </div>
    <div class="incomingSupplierCommissions">
        <h3>Incoming Suppliers Commissions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Supplier Name</th>
                    <th>Trip Name</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for booking in bookings %}
                {% for supplier_payment in booking.supplierPayments %}
                {% if supplier_payment.status == "due" %}
                {% set total = total + supplier_payment.paidAmount %}
                <tr>
                    <td>{{ supplier_payment.supplier.name }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ supplier_payment.dueCommission }}</td>
                    <td>{{ supplier_payment.dueDateCommission ? supplier_payment.dueDateCommission|date('Y-m-d') : '' }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="totalSupplierCommision">
            <h3>Total: {{ total }}$</h3>
        </div>
    </div>
    <div class="outcomingAgentCommissions">
        <h3>Outcoming Payment - Agent Commissions</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Trip Name</th>
                    <th>Agent</th>
                    <th>Date</th>
                    <th>Grand Total</th>
                    <th>Commission</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.agent }}</td>
                    <td>{{ booking.departure ? booking.departure|date('Y-m-d') : '' }}</td>
                    <td>{{ booking.total }}</td>
                    <td>??</td>
                    <td>??</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="totalAgentCommission">
            <h3>Total: {{ total }}$</h3>
        </div>
    </div>
    <div class="daiCommission">
        <h3>DAI Commissions - Clients returning</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Trip Name</th>
                    <th>Return Date</th>
                    <th>Gross Profit</th>
                    <th>Commission</th>
                    <th>%</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.returnDate ? booking.returnDate|date('Y-m-d') : '' }}</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}