{% extends 'base.html.twig' %}

{% block title %}}Edit Supplier's Information{% endblock %}

{% block main %}
<div class="clientPayment">
    <h1>Edit Supplier's Information</h1>

{% embed "/components/_accordion.html.twig" %}

{% block supplierInfo %}
{{ include('supplier_information/_form.html.twig', {'button_label': 'Update'}) }}
{# add delete here #}

{% endblock supplierInfo %}

{% block generalInfoPath %}{{ path('general_edit', {'id': supplier_information.booking.id}) }}{% endblock generalInfoPath %}
{% block financialInfoPath %}{{ path('financial_edit', {booking_id: supplier_information.booking.id}) }}{% endblock financialInfoPath %}
{% block clientPaymentsPath %}{{ path('client_payment_new', {booking_id: supplier_information.booking.id}) }}{% endblock clientPaymentsPath %}
{% block supplierPaymentsPath %}{{ path('supplier_payment_new', {booking_id: supplier_information.booking.id}) }}{% endblock supplierPaymentsPath %}
{% endembed %}
</div>
{% endblock %}