{% extends 'base.html.twig' %}

{% block title %}New SupplierInformation{% endblock %}

{% block main %}
<div class="supplierInformation">
    {% embed "/components/_accordion.html.twig" %}
    {% block supplierInfo %}
    <div class="informations">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount Due</th>
            <th>Amount in $</th>
            <th>Due Date</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier_information in supplier_informations %}
        <tr>
            <td>{{ supplier_information.supplier.name }}</td>
            <td>{{ supplier_information.dueAmount }}</td>
            <td>{{ supplier_information.dueDollarsAmount }}</td>
            <td>{{ supplier_information.dueDate ? supplier_information.dueDate|date('Y-m-d') : '' }}</td>
            <td>
                <a href="{{ path('supplier_information_edit', {'booking_id': supplier_information.booking.id, 'supplier_information_id': supplier_information.id}) }}">edit</a>
                <!-- use to insert edit and delete buttons -->
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>

    {{ include('supplier_information/_form.html.twig') }}

    <a href="{{ path('supplier_new', {booking_id: booking.id}) }}">Add client</a>

{% endblock supplierInfo %}

{% block generalInfoPath %}{{ path('general_edit', {'id': booking.id}) }}{% endblock generalInfoPath %}
{% block financialInfoPath %}{{ path('financial_edit', {booking_id: booking.id}) }}{% endblock financialInfoPath %}
{% block clientPaymentsPath %}{{ path('client_payment_new', {booking_id: booking.id}) }}{% endblock clientPaymentsPath %}
{% block supplierInfoPath %}{{ path('supplier_information_new', {booking_id: booking.id}) }}{% endblock supplierInfoPath %}
{% block supplierPaymentsPath %}{{ path('supplier_payment_new', {booking_id: booking.id}) }}{% endblock supplierPaymentsPath %}
{% endembed %}
</div>

{% endblock %}

 