{% extends 'base.html.twig' %}

{% block title %}SupplierPayment{% endblock %}

{% block body %}
    <h1>SupplierPayment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplier_payment.id }}</td>
            </tr>
            <tr>
                <th>DueAmount</th>
                <td>{{ supplier_payment.dueAmount }}</td>
            </tr>
            <tr>
                <th>DueDate</th>
                <td>{{ supplier_payment.dueDate ? supplier_payment.dueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ExchangeRate</th>
                <td>{{ supplier_payment.exchangeRate }}</td>
            </tr>
            <tr>
                <th>DueDollarsAmount</th>
                <td>{{ supplier_payment.dueDollarsAmount }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ supplier_payment.note }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ supplier_payment.date ? supplier_payment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PaidAmount</th>
                <td>{{ supplier_payment.paidAmount }}</td>
            </tr>
            <tr>
                <th>DueCommission</th>
                <td>{{ supplier_payment.dueCommission }}</td>
            </tr>
            <tr>
                <th>DueDateCommission</th>
                <td>{{ supplier_payment.dueDateCommission ? supplier_payment.dueDateCommission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ supplier_payment.currency }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('supplier_information_index') }}">back to list</a>

    <a href="{{ path('supplier_information_edit', {'id': supplier_payment.id}) }}">edit</a>

    {{ include('supplier_information/_delete_form.html.twig') }}
{% endblock %}
